@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

:root {
    --color-primary: #7abcf3;
    --color-dark: #000;
    --color-white: #fff;
    --color-dark-light: #7d8da1;
    --color-info-dark-hover: #5f6772;
    --color-background: #f6f6f9;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-primary);
    user-select: none;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
.container form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 27px;
}
.container form .title{
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.container form .star-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}
.container form .star-box input{
    display: none;
}
.container form .star-box label{
    font-size: 20px;
    color: #dadada;
    padding: 0 10px;
    cursor: pointer;
}
.container form .star-box input:not(:checked) ~ label:hover,
.container form .star-box input:not(:checked) ~ label:hover ~ label{
    color: #fbd600;
}
.container form .star-box input:checked ~ label{
    color:#fbd600;
}
.container form .rate-text{
    color: #fbd600;
    font-weight: 700;
    font-size: 18px;
}

.container form .rate-describe{
    color: #5c5c5c;
    font-weight: 500;
    border: 1px solid #dadada;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    resize: none;
}
.container form .post-btn{
    color: #fff;
    font-weight: 500;
    border: 0;
    background: var(--color-primary);
    border-radius: 10px;
    width: 100%;
    padding: 13px;
    cursor: pointer;
    transition: .5s;
}
.container form .post-btn:hover{
    background: #dadada;
}

